<h1>Parametros#index</h1>
<p>Find me in app/views/parametros/index.html.erb</p>

<html>
<head>
    <title>La Pagina no existe</title>
    
</head>
<body>
<div class="titleDiv">Curso DAW-II: ciclo 2010-I</div>
	<p>	
  <font color=orange size=4>
   La pagina a la que esta tratando de acceder no existe.</font><br/>

    <br/>Este error sucede cuando se trata de localizar un recurso inexistente en el sitio web.<br/>
    <br/>
    Se redireccionara a la pagina principal en 4 segundos.
    <br/><br/>
</body>
</html>

